#wrap {margin: 0 auto; width:1680px;
	}
#head {background-image: url('image/head_image.png');
		background-size: width: 1680px; height:422px; 
		background-repeat: no-repeat;
	}
#a {padding-top: 25px;
	padding-left: 215px;
	font-size: 48px;
	font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
	}
#b {padding-left: 215px;
	font-size: 18px;
	position: relative;
	top: -40px;
	font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;

	}
#c {text-align: center;
	font-size: 16px;				
	margin-top: 230px;
	color: #9e949a;
	}
.headline {display: inline-block;
	}
#d {display: inline-block;
	margin: 0 auto;
	font-size:36px;
	padding-top: 90px;[]
	padding-bottom:  70px;
	font-family: 'KoPub Batang', serif;
	}
#bodypic {background-color: #f3f1e9;
	background-size: width:1680px ;height: 779px;
	padding-left: 202px;
	padding-top: 46px;
	}
.e {float: left;
	margin-right: 35px;
	}
#f img{width: 479px;
	padding-top: 110px; padding-left: 202px;
	float: left;
	padding-bottom: 90px;
	}
#body2text{ padding-top: 50px;
	}
#g {font-size: 30px;
	padding-top: 110px;
	padding-right: 220px;
	text-align: right;
	font-family: 'KoPub Batang', serif;

	}
#h {font-size: 17px;
	text-align: right;
	float:left;
	width: 703px;
	padding-left: 77px;
	padding-right: 20px;
	border-right: 5px solid gray;
	font-family: 'KoPub Batang', serif;
	}
#i {clear: both;
	}
#j {display: inline-block; float: left;
	padding-left: 230px;
	text-align: center;
	font-size: 16px;
	font-family: 'KoPub Batang', serif;
	}
#k {display: inline-block; float: left;
	padding-left: 25px;
	text-align: center;
	font-size: 16px;
	font-family: 'KoPub Batang', serif;
	}
#l {display: inline-block; float: left;
	padding-left: 25px;
	text-align: center;
	font-size: 16px;
	font-family: 'KoPub Batang', serif;
	}
#m {display: inline-block; float: left;
	padding-left: 25px;
	text-align: center;
	font-size: 16px;
	font-family: 'KoPub Batang', serif;
	}
#n {display: inline-block; float: left;
	padding-left: 25px;
	text-align: center;
	font-size: 16px;
	font-family: 'KoPub Batang', serif;
	}
#o {display: inline-block; float: left;
	padding-left: 25px;
	text-align: center;
	font-size: 16px;
	font-family: 'KoPub Batang', serif;
	}
#p {display: inline-block; float: left;
	padding-left: 25px;
	text-align: center;
	font-size: 16px;
	font-family: 'KoPub Batang', serif;
	}
#q {display: inline-block;
	padding-left: 25px;
	text-align: center;
	font-size: 16px;
	font-family: 'KoPub Batang', serif;
	}
#picture {margin-top: 256px;
	background-image: url(image/image_01.png);
	background-size: width: 1680px; height: 563px;
	margin-bottom: 90px;
	}
#r{color: white; 
	padding-left: 195px;
	padding-top: 159px;
	font-size: 30px;
	font-family: 'KoPub Batang', serif;
	}
#s{color: white; 
	padding-left: 226px;
	width: 450px;
	font-size: 18px;
	text-align: justify;
	font-family: 'KoPub Batang', serif;
	}
#footer{background-color: #f3f1e9

	}
#t{display: inline-block;
	padding-left: 195px;
	font-family: 'KoPub Batang', serif;
	}
#u{ float: right;
	padding-right: 195px;
	font-family: 'KoPub Batang', serif;
	}